.mainDIV {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImg {
    width: 100%;
    height: 60px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .mainDIV {
        width: 100%;
        height: 100vh;
    }

    .mainImg {
        width: 100%;
        height: 40px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .mainDIV {
        width: 100%;
        height: 100vh;
    }

    .mainImg {
        width: 100%;
        height: 40px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .mainDIV {
        width: 100%;
        height: 100vh;
    }

    .mainImg {
        width: 100%;
        height: 40px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .mainDIV {
        width: 100%;
        height: 100vh;
    }

    .mainImg {
        width: 100%;
        height: 50px;
    }
}

@media only screen and (min-width: 1201px) {
    .mainDIV {
        width: 100%;
        height: 100vh;
    }

    .mainImg {
        width: 100%;
        height: 60px;
    }
}
